# Node modules
node_modules/

# Python environment
env/
__pycache__/
*.pyc
*.pyo

# PDF générés
services/
/services/pdf/uploads/
/services/pdf/uploads/contrats/

# Logs
logs/
*.log

# Variables d'environnement
.env

# Migrations SQL
migrations/

# Build temp files
tmp/